
@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap'); 
  body {  
    color:#fff;
    font-family:Inter;
    font-weight:400;
    font-size:1rem;
    line-height:1.5;
  }  
* { 
    box-sizing: inherit;
} 

body { 
    margin: 0; 
    color: #fff; 
    font-family: Inter; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.5; 
    background-color: #121212;
} 

body { 
    scrollbar-color: hsla(0,0%,100%,.25) transparent; 
    background-color: transparent!important;
} 

html { 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    box-sizing: border-box; 
    -webkit-text-size-adjust: 100%;
} 

html { 
    background-color: #09090d!important; 
    height: 100%!important;
} 

:root { 
    color-scheme: dark;
} 

.mui-style-qceu3r { 
    background-color: #00000026; 
    color: #fff;
    flex-direction: column;
    position: absolute;
    left: 25%;
    top: 15%;
    right: 30%;
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    border-radius: 1rem; 
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12); 
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)); 
    padding: 2rem; 
    margin-top: 1rem; 
    text-align: center;
    margin-bottom: 2rem; 
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.25); 
    -webkit-backdrop-filter: blur(1.5rem); 
    backdrop-filter: blur(1.5rem);
} 

@media (min-width: 0px){ 
  .mui-style-qceu3r { 
    width: 100%;
  } 
}     

@media (min-width: 900px){ 
  .mui-style-qceu3r { 
    width: 50%;
  } 
}     

*,:before,:after { 
    box-sizing: inherit;
} 

.mui-style-1n2mv2k { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    -webkit-justify-content: center; 
    justify-content: center; 
    -webkit-align-items: center; 
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

.mui-style-iqirns { 
    margin: 0; 
    font-family: Inter; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.5; 
    text-align: center; 
    white-space: pre-line; 
    overflow-wrap: break-word;
} 

@media (min-width: 0px){ 
  .mui-style-iqirns { 
    font-size: 1rem;
  } 
}     

@media (min-width: 900px){ 
  .mui-style-iqirns { 
    font-size: 1.75rem;
  } 
}     

.mui-style-1p07y8n { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    -webkit-justify-content: center; 
    justify-content: center; 
    -webkit-align-items: center; 
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    align-items: center; 
    margin-top: 1rem;
} 

.mui-style-ewqgob { 
    margin: 0; 
    font-family: Inter; 
    font-weight: 700; 
    font-size: 6rem; 
    line-height: 1.167; 
    padding-left: 1rem; 
    margin-right: 1rem; 
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25); 
    text-align: center;
} 

@media (min-width: 0px){ 
  .mui-style-ewqgob { 
    font-size: 1.5rem;
  } 
}     

@media (min-width: 900px){ 
  .mui-style-ewqgob { 
    font-size: 3rem;
  } 
}     

.mui-style-jxmg75 { 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    width: 2rem; 
    height: 2rem; 
    display: inline-block; 
    fill: currentColor; 
    -webkit-flex-shrink: 0; 
    -ms-flex-negative: 0; 
    flex-shrink: 0; 
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    font-size: 1.5rem; 
    color: #9e9e9e;
} 

.mui-style-1lpgmjw { 
    position: relative; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-align-items: center; 
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    -webkit-justify-content: center; 
    justify-content: center; 
    -webkit-flex-shrink: 0; 
    -ms-flex-negative: 0; 
    flex-shrink: 0; 
    width: 40px; 
    height: 40px; 
    font-family: Inter; 
    font-size: 1.25rem; 
    line-height: 1; 
    border-radius: 50%; 
    overflow: hidden; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
} 

@media (min-width: 0px){ 
  .mui-style-1lpgmjw { 
    width: 6rem; 
    height: 6rem;
  } 
}     

@media (min-width: 900px){ 
  .mui-style-1lpgmjw { 
    width: 8rem; 
    height: 8rem;
  } 
}     

.mui-style-dnfvx4 { 
    display: -webkit-inline-box; 
    display: -webkit-inline-flex; 
    display: -ms-inline-flexbox; 
    display: inline-flex; 
    -webkit-align-items: center; 
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    -webkit-justify-content: center; 
    justify-content: center; 
    position: relative; 
    box-sizing: border-box; 
    -webkit-tap-highlight-color: transparent; 
    background-color: #4e46ef; 
    outline: 1px solid #4e46ef; 
    border: 0; 
    margin: 0; 
    border-radius: 14px; 
    padding: 8px 14px; 
    cursor: pointer; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    vertical-align: middle; 
    -moz-appearance: none; 
    -webkit-appearance: none; 
    -webkit-text-decoration: none; 
    text-decoration: none; 
    color: #fff; 
    font-family: Inter; 
    font-weight: 500; 
    font-size: 0.875rem; 
    line-height: 1.75; 
    text-transform: uppercase; 
    min-width: 64px; 
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12); 
    transition-duration: 0.3s; 
    width: 100%; 
    margin-top: 2rem;
} 

.mui-style-dnfvx4:hover { 
    -webkit-text-decoration: none; 
    text-decoration: none; 
    background-color: rgb(55, 49, 160); 
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
} 

@media not all and (-webkit-min-device-pixel-ratio: 1.5), not all and (-o-min-device-pixel-ratio: 3/2), not all and (min--moz-device-pixel-ratio: 1.5), not all and (min-device-pixel-ratio: 1.5){ 
  .mui-style-dnfvx4:hover { 
    background-color: transparent; 
    color: #4f46e5;
  } 

  .mui-style-dnfvx4:hover { 
    outline: 1px solid #4e46ef; 
    color: #4e46ef;
  } 
}     

.mui-style-1hy9t21 { 
    width: 100%; 
    height: 100%; 
    text-align: center; 
    object-fit: cover; 
    color: transparent; 
    text-indent: 10000px;
} 

.mui-style-w0pj6f { 
    overflow: hidden; 
    pointer-events: none; 
    position: absolute; 
    z-index: 0; 
    inset: 0px; 
    border-radius: inherit;
} 
