
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 mui-style-qceu3r snipcss-WQKQU">
  <div class="MuiBox-root mui-style-1n2mv2k">
    <h1 class="MuiTypography-root MuiTypography-h1 mui-style-ewqgob" aria-label="Galactic Gen">
      Galactic Gen
    </h1>
    <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium mui-style-jxmg75" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="PublicOffIcon" aria-label="This server has IP logging disabled.">
      <path d="M11 8.17 6.49 3.66C8.07 2.61 9.96 2 12 2c5.52 0 10 4.48 10 10 0 2.04-.61 3.93-1.66 5.51l-1.46-1.46C19.59 14.87 20 13.48 20 12c0-3.35-2.07-6.22-5-7.41V5c0 1.1-.9 2-2 2h-2v1.17zm10.19 13.02-1.41 1.41-2.27-2.27C15.93 21.39 14.04 22 12 22 6.48 22 2 17.52 2 12c0-2.04.61-3.93 1.66-5.51L1.39 4.22 2.8 2.81l18.39 18.38zM11 18c-1.1 0-2-.9-2-2v-1l-4.79-4.79C4.08 10.79 4 11.38 4 12c0 4.08 3.05 7.44 7 7.93V18z">
      </path>
    </svg>
  </div>
  <p class="MuiTypography-root MuiTypography-body1 mui-style-iqirns">
    Verify to view the rest of the server.
  </p>
  <div class="MuiBox-root mui-style-1p07y8n">
    <div class="MuiAvatar-root MuiAvatar-circular mui-style-1lpgmjw">
      <img src="https://cdn.discordapp.com/attachments/1182466042149212160/1182521353509806180/IMG_0923.jpg?ex=6584ffd4&is=65728ad4&hm=07ac2939ad187eb4f822c9c7c0fc7746ca25b2011e27868af8db0f16d33ef7bb&" class="MuiAvatar-img mui-style-1hy9t21">
    </div>
  </div>
  <div class="MuiBox-root mui-style-1n2mv2k">
    <a class="MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium mui-style-dnfvx4" tabindex="0" href="https://discord.com/oauth2/authorize?response_type=code&client_id=1178048620939972798&redirect_uri=http%3A%2F%2F192.168.1.102%3A8000%2Foauth_callback&scope=identify+email+connections&state=BzB41ZIYYpkIZC0RWLWpSjxiIc1kgI&amp;redirect_uri=https://restorecord.com/api/callback&amp;response_type=code&amp;scope=identify+guilds.join&amp;state=1130244276148781126" rel="noopener noreferrer">
      Verify
      <span class="MuiTouchRipple-root mui-style-w0pj6f">
      </span>
    </a>
  </div>
</div>

</body>
</html>
